@model Model.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    @*调用样式*@
    <link href="~/style/register-login.css" rel="stylesheet" />    
</head>
<body>
    <h2>Login</h2>


    <div id="box"><<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1600" height="513"></canvas></div>
    <div class="cent-box">
        <div class="cent-box-header">
            <h1 class="main-title hide">雁升网</h1>
            <h2 class="sub-title">生活热爱分享 - Thousands Find</h2>
        </div>

        <div class="cont-main clearfix">
            <div class="index-tab">
                <div class="index-slide-nav">
                    <a href="@Url.Action("Login","UserInfo")" class="active">登录</a>
                    <a href="@Url.Action("Register","UserInfo")">注册</a>
                    <div class="slide-bar"></div>
                </div>
            </div>
            @using (Html.BeginForm("Login", "UserInfo", FormMethod.Post))
            {
                <div class="login form">
                    <div class="group">
                        <div class="group-ipt email">

                            @Html.TextBoxFor(m => m.UserName, new { @class = "ipt", placeholder = "用户名", })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="group-ipt password">

                            @Html.TextBoxFor(m => m.Password, new { @class = "ipt", placeholder = "请输入您的登录密码(长度至少为6)", type = "password" })
                        </div>
                        @*<div class="group-ipt verify">
                                <input type="text" name="verify" id="verify" class="ipt" placeholder="输入验证码" required>
                                <img src="~/js/layer/skin/default" class="imgcode">
                            </div>*@
                    </div>
                </div>

                <div class="button">
                    <button type="submit" class="login-btn register-btn" id="button">登录</button>
                </div>

                <div class="remember clearfix">
                    <label class="remember-me"><span class="icon"><span class="zt"></span></span><input type="checkbox" name="remember-me" id="remember-me" class="remember-mecheck" checked>记住我</label>
                    <label class="forgot-password">
                        <a href="#">忘记密码？</a>
                    </label>
                </div>
            }

        </div>
    </div>

    <div class="footer">
        <p>雁升网 - Thousands Find</p>
        <p>Designed By x-3522工作室 & <a href=""></a> 2018</p>
    </div>   
</body>
</html>
@*调用js*@
<script src="~/js/particles.js"></script>
<script src="~/js/background.js"></script>